<div [formGroup]="progressGroup">
    <section class="example-section">
        <mat-form-field style="width:100%">
            <textarea matInput formControlName="progressAdd"></textarea>
        </mat-form-field>
        <mat-icon (click)="addProgress('myprogress','myLog')">add_circle_outlined</mat-icon>
    </section>
    <div  formArrayName="progressArray">
      <mat-card *ngFor="let progress of progressArray; let i=index">
        <div [formGroupName]="i">
          <mat-card-content>
            <div>
                <mat-form-field style="width:100%">
                    <input style="width:100%" matInput formControlName="log">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field style="width:100%">
                    <textarea matInput formControlName="action"></textarea>
                </mat-form-field>
            </div>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
</div>
