<form [formGroup]="TFForm">
    <span>Filtres</span>
    <div>
        <input formControlName="find" (keyup)="this.filter('find',TFForm.get('find').value)">
    </div>
    <div style="margin-top: 10px">
        <mat-button-toggle-group Name="type" #typegroup="matButtonToggleGroup" (change)="filter('type', typegroup.value)">
            <mat-button-toggle (click)="isaChecked=true;filter('type', 'atelier')" [checked]=isaChecked><mat-icon matBadge={{nbAtelier}} matBadgeColor="accent">build</mat-icon></mat-button-toggle>
            <mat-button-toggle (click)="iscChecked=true;filter('type', 'compta')"  [checked]=iscChecked><mat-icon matBadge={{nbCompta}} matBadgeColor="accent">euro_symbol</mat-icon></mat-button-toggle>
            <mat-button-toggle (click)="iseChecked=true;filter('type', 'expedition')" [checked]=iseChecked><mat-icon matBadge={{nbExpedition}} matBadgeColor="accent">local_shipping</mat-icon></mat-button-toggle>
            <mat-button-toggle (click)="ismChecked=true;filter('type', 'montage')" [checked]=ismChecked><mat-icon matBadge={{nbMontage}} matBadgeColor="accent">computer</mat-icon></mat-button-toggle>
            <mat-button-toggle (click)="isclChecked=true;filter('type', 'client')" [checked]=isclChecked><mat-icon matBadge={{nbClient}} matBadgeColor="accent">face</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div style="margin-top: 10px">
        <mat-button-toggle-group Name="status" #statusgroup="matButtonToggleGroup" (change)="filter('status', statusgroup.value)">
                <mat-button-toggle (click)="isafChecked=true;filter('status', 'afaire')" [checked]=isafChecked><mat-icon matBadge={{nbAfaire}} matBadgeColor="accent">slideshow</mat-icon></mat-button-toggle>
            <mat-button-toggle (click)="isenChecked=true;filter('status', 'encours')" [checked]=isenChecked><mat-icon matBadge={{nbEncours}} matBadgeColor="accent">play_arrow</mat-icon></mat-button-toggle>
            <mat-button-toggle (click)="isapChecked=true;filter('status', 'attenterepclient')" [checked]=isapChecked><mat-icon matBadge={{nbAttenterepclient}} matBadgeColor="accent">call</mat-icon></mat-button-toggle>
            <mat-button-toggle (click)="isarChecked=true;filter('status', 'attenteretclient')" [checked]=isarChecked><mat-icon matBadge={{nbAttenteretclient}} matBadgeColor="accent">shoping_cart</mat-icon></mat-button-toggle>
            <mat-button-toggle (click)="istChecked=true;filter('status', 'terminee')" [checked]=istChecked><mat-icon matBadge={{nbTerminee}} matBadgeColor="accent">done</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
        <!--<span>Status: </span>
        <mat-form-field>
            <mat-select formControlName="status" (selectionChange)="filter('status',TFForm.get('status').value)">
              <mat-option value=""></mat-option>
              <mat-option value="encours">en cours</mat-option>
              <mat-option value="attenterepclient">attente réponse client</mat-option>
              <mat-option value="attenteretclient">attente retrait client</mat-option>
              <mat-option value="terminee">terminée</mat-option>
            </mat-select>
        </mat-form-field>-->
    </div>
    <div style="margin-top: 10px">
        <mat-form-field class="input-margin">
            <input formControlName="date" matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" (dateChange)="filter('dateD',TFForm.get('date').value)">
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
    </div>
    <div style="margin-top: 10px">
        <mat-form-field class="input-margin">
            <input formControlName="date2" matInput placeholder="Date fin" [matDatepicker]="picker2" (focus)="picker2.open()"  (dateChange)="filter('dateF',TFForm.get('date2').value)">
        </mat-form-field>
        <mat-datepicker #picker2></mat-datepicker>
    </div>
    <!--<div>
        <span>Créateur: </span>
        <mat-form-field>
            <mat-select formControlName="oUser" (selectionChange)="filter('oUser',TFForm.get('oUser').value)">
              <mat-option value=""></mat-option>
              <mat-option value="option1">atelier</mat-option>
              <mat-option value="option2">compta</mat-option>
              <mat-option value="option3">expedition</mat-option>
              <mat-option value="option3">montage</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <span>Destinataire: </span>
        <mat-form-field value="">
            <mat-select formControlName="dUser" (selectionChange)="filter('dUser',TFForm.get('dUser').value)">
              <mat-option></mat-option>
              <mat-option value="option1">atelier</mat-option>
              <mat-option value="option2">compta</mat-option>
              <mat-option value="option3">expedition</mat-option>
              <mat-option value="option3">montage</mat-option>
            </mat-select>
        </mat-form-field>
    </div>-->
    <div style="margin-top: 10px">
        <mat-checkbox formControlName="wFCAnswer" (change)="filter('attenteRC',TFForm.get('wFCAnswer').value)">Attente réponse client</mat-checkbox>
    </div>
    <div style="margin-top: 10px">
        <button type="button" mat-raised-button (click)="clean('all','clean');TFForm.reset()">Vider les filtres</button>
    </div>
</form>


