<div [formGroup]="deviceGroup">
    <section class="example-section">
      <mat-form-field class="input-margin">
        <input formControlName="deviceType" matInput placeholder="Type">
      </mat-form-field>
      <mat-form-field class="input-margin">
        <input formControlName="deviceBrand" matInput placeholder="Marque">
      </mat-form-field>
    </section>
    <section class="example-section">
      <mat-checkbox class="example-margin" formControlName="deviceStart">Le PC démarre</mat-checkbox>
      <mat-checkbox class="input-margin" formControlName="deviceDisplay">Affichage Ok</mat-checkbox>
      <mat-checkbox class="input-margin" formControlName="deviceOsStart">L'OS démarre</mat-checkbox>
      <mat-checkbox class="example-margin" formControlName="deviceReset">Formatage possible</mat-checkbox>
      <mat-checkbox class="example-margin" formControlName="deviceBattery">Batterie absente</mat-checkbox>
      <mat-checkbox class="example-margin" formControlName="deviceCharger">Chargeur présent</mat-checkbox>
    </section>
    <section class="example-section">
      <mat-form-field class="input-margin">
        <input formControlName="deviceScrew" matInput placeholder="nb de vis manquante">
      </mat-form-field>
      <mat-form-field class="input-margin">
        <input formControlName="deviceScreen" matInput placeholder="Etat de l'écran">
      </mat-form-field>
      <mat-form-field class="input-margin">
        <input formControlName="deviceKeyboard" matInput placeholder="Etat du clavier">
      </mat-form-field>
      <mat-form-field class="input-margin">
        <input formControlName="deviceGraphicCard" matInput placeholder="nombre de cartes graphiques">
      </mat-form-field>
      <mat-form-field class="input-margin">
        <input formControlName="deviceBoards" matInput placeholder="nombre de carte filles">
      </mat-form-field>
      <mat-form-field class="input-margin">
        <input formControlName="deviceHDD" matInput placeholder="nombre de HDD">
      </mat-form-field>
      <mat-form-field class="input-margin">
        <input formControlName="deviceSSD" matInput placeholder="nombre de SSD">
      </mat-form-field>
    </section>
    <div>
      <mat-form-field style="width:100%">
        <textarea formControlName="deviceDescription" matInput placeholder="Complément d'information"></textarea>
      </mat-form-field>
    </div>
</div>
