<form (ngSubmit)="register()" [formGroup]="ATDForm">
    <div [formGroup]="taskGroup">
        <mat-form-field class="input-margin">
          <input formControlName="taskName" matInput placeholder="Nom de la tâche">
        </mat-form-field>
        <mat-form-field class="input-margin">
          <mat-select formControlName="taskType" placeholder="Type de tâche">
            <mat-option *ngFor="let Type of Types" [value]="Type">
              {{Type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-margin">
            <input formControlName="taskDueDate" matInput placeholder="Echéance" [matDatepicker]="picker" (focus)="picker.open()">
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <mat-dialog-content>
        <mat-accordion>
          <mat-expansion-panel *ngIf = "ATDForm.get('task').get('taskType').value == 'atelier' || ATDForm.get('task').get('taskType').value == 'client'" [formGroup]="customerGroup">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Client
              </mat-panel-title>
            </mat-expansion-panel-header>
          
            <mat-form-field class="input-margin">
              <input formControlName="customerName" matInput placeholder="Nom">
            </mat-form-field>
            <mat-form-field class="input-margin">
              <input formControlName="customerFirstName" matInput placeholder="Prénom">
            </mat-form-field>
            <mat-form-field class="input-margin">
              <input formControlName="customerNumber" matInput placeholder="Numéro Client">
            </mat-form-field>
            <mat-form-field class="input-margin">
              <input formControlName="customerMail" matInput placeholder="Mail">
            </mat-form-field>
            <mat-form-field class="input-margin">
              <input formControlName="customerPhone" matInput placeholder="Téléphone">
            </mat-form-field>
          </mat-expansion-panel>
          
          <mat-expansion-panel *ngIf = "ATDForm.get('task').get('taskType').value == 'atelier'" [formGroup]="deviceGroup">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Matériel
              </mat-panel-title>
            </mat-expansion-panel-header>
          
            <mat-form-field class="input-margin">
              <input formControlName="deviceType" matInput placeholder="Type">
            </mat-form-field>
            <mat-form-field class="input-margin">
              <input formControlName="deviceBrand" matInput placeholder="Marque">
            </mat-form-field>
            <section class="example-section">
              <mat-checkbox class="input-margin" formControlName="deviceStart">Le PC démarre</mat-checkbox>
              <mat-checkbox class="input-margin" formControlName="deviceDisplay">Affichage Ok</mat-checkbox>
              <mat-checkbox class="input-margin" formControlName="deviceOsStart">L'OS démarre</mat-checkbox>
              <mat-checkbox class="input-margin" formControlName="deviceReset">Formatage possible</mat-checkbox>
            </section>
            <div>
                <mat-form-field style="width:100%">
                  <textarea formControlName="deviceDescription" matInput placeholder="Description"></textarea>
                </mat-form-field>
            </div>
          </mat-expansion-panel>
          
          <mat-expansion-panel  [formGroup]="failureGroup" *ngIf = "ATDForm.get('task').get('taskType').value == 'atelier'">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Panne
              </mat-panel-title>
            </mat-expansion-panel-header>
          
            <div>
              <mat-form-field style="width:100%">
                <textarea formControlName="failureDescription" matInput placeholder="Description de la panne"></textarea>
              </mat-form-field>
          </div>
          
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf = "ATDForm.get('task').get('taskType').value == 'atelier'" [formGroup]="deliveryGroup">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Prestations
              </mat-panel-title>
            </mat-expansion-panel-header>
          
            <section class="example-section">
                <mat-form-field style="width:100%">
                    <input matInput formControlName="deliveryAdd" [matAutocomplete]="auto" placeholder="ajouter une prestation">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let presta of filteredOptions | async" [value]="presta.nom+'   /   '+presta.prix_TTC+'   /   '+presta.code_CEBO">
                        ({{presta.code_CEBO}}) {{presta.nom}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-icon (click)="addPrestation('nom','prix','code')">add_circle_outlined</mat-icon>
            </section>
            <div  formArrayName="deliveryArray">
              <div *ngFor="let presta of ATDForm.controls.delivery.controls.deliveryArray.controls; let i=index">
                <div [formGroupName]="i">
                    <section class="example-section">
                        <mat-form-field style="width:100%">
                            <input matInput formControlName="nom">
                        </mat-form-field>
                        <mat-form-field style="width:100%">
                            <input matInput formControlName="prix">
                        </mat-form-field>
                        <mat-icon (click)="removePrestation(i)">delete</mat-icon>
                    </section>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button>Ajouter</button>
        <button mat-button type="button" (click) = 'cancel()'>Annuler</button>
      </mat-dialog-actions>
</form>