<div  style="min-height: 200px"><mat-card *ngFor="let task of myTasks | async | taskList">
    <mat-chip-list *ngIf=!task.isNotItem>
        <mat-chip [ngClass]="{'montage':task.Type == 'montage','avoir':task.Type == 'avoir','expedition':task.Type == 'expedition'}">
            <a>{{ task.Type }}</a>
        </mat-chip>
        <mat-chip>{{ task.Nom }}</mat-chip>
        <mat-chip>{{ task.Echeance|date:'dd/MM/yyyy'}}</mat-chip>
    </mat-chip-list>
    <div *ngIf="task.isNotItem">{{ task.Echeance|date:'dd/MM/yyyy'}}</div>
</mat-card></div>