<div  style="min-height: 200px"><mat-card *ngFor="let task of myTasks | async | taskList">
    <mat-chip-list *ngIf=!task.isNotItem>
        <mat-chip [ngClass]="{'montage':task.task.taskType == 'montage','avoir':task.task.taskType == 'avoir','expedition':task.task.taskType == 'expedition'}">
            <a>{{ task.task.taskName }}</a>
        </mat-chip>
        <mat-chip>{{ task.task.taskDueDate|date:'dd/MM/yyyy'}}</mat-chip>
    </mat-chip-list>
    <div *ngIf="task.isNotItem">{{ task.task.taskDueDate|date:'dd/MM/yyyy'}}</div>
</mat-card></div>