<div  style="min-height: 200px"><mat-card *ngFor="let task of Tasks | async | taskList">
    <mat-chip-list *ngIf=!task.isNotItem>
        <mat-chip *ngIf="task.task.taskType == 'atelier'"><mat-icon>build</mat-icon></mat-chip>
        <mat-chip *ngIf="task.task.taskType == 'compta'"><mat-icon>euro_symbol</mat-icon></mat-chip>
        <mat-chip *ngIf="task.task.taskType == 'montage'"><mat-icon>computer</mat-icon></mat-chip>
        <mat-chip *ngIf="task.task.taskType == 'expedition'"><mat-icon>local_shipping</mat-icon></mat-chip>
        <mat-chip *ngIf="task.task.taskType == 'client'"><mat-icon>face</mat-icon></mat-chip>
        <mat-chip *ngIf="task.task.taskType == 'boutique'"><mat-icon>store</mat-icon></mat-chip>
        <mat-chip>
            <a>{{ task.task.taskName }}</a>
        </mat-chip>
        <mat-chip>{{ task.id }}</mat-chip>
        <mat-chip>{{ task.task.taskDueDate|date:'dd/MM/yyyy' }}</mat-chip>
        <mat-chip style="background-color: #c98732" (click)=delayDialog(task.id,task.task.taskName,task.task.taskDueDate,task.task.taskCreationDate,task.task.taskOperator,task.task.taskType)><mat-icon>access_time</mat-icon></mat-chip>
        <mat-chip (click)=edit(task.id,task.task.taskName,task.task.taskType)><mat-icon>edit</mat-icon></mat-chip>
        <mat-chip *ngIf="task.task.taskType != 'atelier' && task.task.taskType != 'montage'" style="background-color: #0b6d2c" (click)=doneDialog(task.id,task.task.taskName,task.task.taskType)><mat-icon>done</mat-icon></mat-chip>
    </mat-chip-list>
    <div *ngIf="task.isNotItem && task.delay != 0" [ngClass]="{'alert': task.delay < 0,'hurry': task.delay == 0, 'cool': task.delay > 0}"><a>{{ task.taskDueDate|date:'dd/MM/yyyy'}} ({{task.delay}} jours)</a></div>
    <div *ngIf="task.isNotItem && task.delay == 0" [ngClass]="{'alert': task.delay < 0,'hurry': task.delay == 0, 'cool': task.delay > 0}"><a>Aujourd'hui</a></div>
    
</mat-card></div>