.montage {
    background-color: purple;
    font-weight: bold;
    a {
        color: white;
    }
}
.avoir {
    background-color:rgb(110, 110, 9);
    font-weight: bold;
    a {
        color: white;
    }
}
.expedition {
    background-color: green;
    font-weight: bold;
    a {
        color: white;
    }
}