<form (ngSubmit)="register()" [formGroup]="ATDForm">
      <app-task-form [taskGroup]="ATDForm.get('task')" (lockForm)="isLocked($event)"></app-task-form>
      <mat-accordion class="taskFormAccordion">
        <mat-expansion-panel *ngIf = "ATDForm.get('task').get('taskType').value == 'atelier' || ATDForm.get('task').get('taskType').value == 'client'" [formGroup]="customerGroup">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Client
            </mat-panel-title>
            <mat-panel-description>
              Coordonnées du client
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-customer-form [customerGroup]="ATDForm.get('customer')"></app-customer-form>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf = "ATDForm.get('task').get('taskType').value == 'atelier'" [formGroup]="deviceGroup">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Matériel
            </mat-panel-title>
            <mat-panel-description>
              Description du matériel
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-device-form [deviceGroup]="ATDForm.get('device')"></app-device-form>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf = "ATDForm.get('task').get('taskType').value == 'atelier'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Panne
            </mat-panel-title>
            <mat-panel-description>
              Description de la panne
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-failure-form [failureGroup]="ATDForm.get('failure')"></app-failure-form>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf = "ATDForm.get('task').get('taskType').value == 'atelier'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Prestations
            </mat-panel-title>
            <mat-panel-description>
              Liste des prestations à effectuer
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-delivery-form [deliveryGroup]="ATDForm.get('delivery')" [filteredDelivery]="filteredOptions" (deliveryAdded)="tasksService.addDelivery(ATDForm,fb)" (deliveryRemoved)="tasksService.removeDelivery($event, ATDForm)"></app-delivery-form>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf = "ATDForm.get('task').get('taskType').value == 'atelier'">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Avancement
              </mat-panel-title>
              <mat-panel-description>
                Liste actions réalisées
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-progress-form [progressGroup]="ATDForm.get('progress')" (progressAdded)="addProgress()"></app-progress-form> 
          </mat-expansion-panel>
        <mat-expansion-panel *ngIf = "ATDForm.get('task').get('taskType').value == 'montage'" [formGroup]="assemblyGroup">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Montage
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-assembly-form [assemblyGroup]="ATDForm.get('assembly')"></app-assembly-form>
          </mat-expansion-panel>
        
      </mat-accordion>
    <div *ngIf = "ATDForm.get('task').get('status').value != 'terminee'"><button type="button" mat-raised-button (click)= taskDone(taskID)>Tâche terminée</button></div>
    <mat-divider></mat-divider>
</form>