<form [formGroup]="ETForm">
    <mat-card>
      <mat-card-content>
          <mat-card-header>
            <mat-icon *ngIf="taskGroup.disabled && taskGroup.status != 'terminee'" (click)="unlock()">lock_open</mat-icon>
            <mat-icon *ngIf="!taskGroup.disabled && taskGroup.status != 'terminee'" (click)="lock()">lock</mat-icon>
          </mat-card-header>
          <app-task-form [taskGroup]="ETForm.get('task')" [Types]="Types" [LocationsAvailable]="LocationsAvailable" (LocationSet)="tasksService.LocationSet(ETForm, $event, taskID)"></app-task-form>
          <mat-accordion class="taskFormAccordion" #taskAccordion="matAccordion">
            <mat-expansion-panel *ngIf = "ETForm.get('task').get('taskType').value == 'atelier' || ETForm.get('task').get('taskType').value == 'client'" [formGroup]="customerGroup">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Client
                </mat-panel-title>
                <mat-panel-description>
                  Coordonnées du client
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-customer-form [customerGroup]="ETForm.get('customer')"></app-customer-form>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf = "ETForm.get('task').get('taskType').value == 'montage'" [formGroup]="customerrequestGroup">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Demande(s) spécifique(s) du client
                  </mat-panel-title>
                  <mat-panel-description>
                    Descriptif de la demande client
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <app-customerrequest-form [customerrequestGroup]="ETForm.get('customerrequest')"></app-customerrequest-form>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf = "ETForm.get('task').get('taskType').value == 'montage'" [formGroup]="hardwareGroup">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Composants du client
                  </mat-panel-title>
                  <mat-panel-description>
                    Liste des Composants fournis par le client
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <app-customerhardware-form [hardwareGroup]="ETForm.get('hardware')" (hardwareAdded)="tasksService.addHardware(ETForm,fb)" (hardwareRemoved)="tasksService.removeHardware($event, ETForm)"></app-customerhardware-form>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf = "ETForm.get('task').get('taskType').value == 'atelier'" [formGroup]="deviceGroup">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Matériel
                </mat-panel-title>
                <mat-panel-description>
                  Description du matériel
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-device-form [deviceGroup]="ETForm.get('device')"></app-device-form>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf = "ETForm.get('task').get('taskType').value == 'atelier'">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Panne
                </mat-panel-title>
                <mat-panel-description>
                  Description de la panne
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-failure-form [failureGroup]="ETForm.get('failure')"></app-failure-form>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf = "ETForm.get('task').get('taskType').value == 'atelier' && datatosaveService.mustSave(ETForm.get('delivery').get('deliveryArray'))" [formGroup]="datastobesavedGroup">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Données à sauvegarder
                  </mat-panel-title>
                  <mat-panel-description>
                    liste précise des données du client à sauvegarder
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <app-datastobesaved-form [datastobesavedGroup]="ETForm.get('datastobesaved')"></app-datastobesaved-form>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf = "ETForm.get('task').get('taskType').value == 'atelier'">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Prestations
                </mat-panel-title>
                <mat-panel-description>
                  Liste des prestations à effectuer
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-delivery-form [deliveryGroup]="ETForm.get('delivery')" [filteredDelivery]="filteredOptions" (deliveryAdded)="tasksService.addDelivery(ETForm,fb)" (deliveryRemoved)="tasksService.removeDelivery($event, ETForm)"></app-delivery-form>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf = "ETForm.get('task').get('taskType').value == 'atelier'">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Avancement
                  </mat-panel-title>
                  <mat-panel-description>
                    Liste actions réalisées
                    <mat-icon (click)="changeStatusCall()" [ngStyle]="{'background-color':ETForm.get('task').get('status').value == 'attenterepclient' ? 'green' : 'grey'}">call</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <app-progress-form [progressGroup]="ETForm.get('progress')" (progressAdded)="addProgress()"></app-progress-form> 
              </mat-expansion-panel>
            <mat-expansion-panel *ngIf = "ETForm.get('task').get('taskType').value == 'montage'" [formGroup]="assemblyGroup">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Montage
                  </mat-panel-title>
                  <mat-panel-description>
                    Liste des points à vérifier
                    <mat-icon (click)="changeStatusCall()" [ngStyle]="{'background-color':ETForm.get('task').get('status').value == 'attenterepclient' ? 'green' : 'grey'}">call</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <app-assembly-form [assemblyGroup]="ETForm.get('assembly')" (needLog)="logIt($event.needdisplay,$event.wheretoLog,$event.whattoLog,$event.value,true)"></app-assembly-form>
              </mat-expansion-panel>
          </mat-accordion>
      </mat-card-content>
      <mat-card-actions>
          <div *ngIf = "ETForm.get('task').get('status').value != 'terminee' && ETForm.get('task').get('status').value != 'attenteretclient'"><button type="button" mat-raised-button (click)= taskDone(taskID)>Prestations effectuées</button></div>
          <div *ngIf = "ETForm.get('task').get('status').value == 'attenteretclient'"><button type="button" mat-raised-button (click)= deviceTaken(taskID)>Matériel retiré par le client</button></div>
      </mat-card-actions>
    </mat-card>
</form>