<form (ngSubmit)="register()" [formGroup]="ATDForm">
  <div [formGroup]="taskGroup">
      <mat-form-field class="input-margin">
        <input formControlName="taskName" matInput placeholder="Nom de la tâche">
      </mat-form-field>
      <mat-form-field class="input-margin">
        <mat-select formControlName="taskType" placeholder="Type de tâche">
          <mat-option *ngFor="let Type of Types" [value]="Type">
            {{Type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="input-margin">
          <input formControlName="taskDueDate" matInput placeholder="Echéance" [matDatepicker]="picker" (focus)="picker.open()" readonly>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>
      <mat-icon *ngIf=taskGroup.disabled (click)="unlock()">lock_open</mat-icon>
      <mat-icon *ngIf=!taskGroup.disabled (click)="lock()">lock</mat-icon>
      <button *ngIf=!taskGroup.disabled mat-raised-button (clic)=valider()>Modifier</button>
    </div>
    <mat-dialog-content>
      <mat-accordion class="taskFormAccordion">
        <mat-expansion-panel *ngIf = "ATDForm.get('task').get('taskType').value == 'atelier' || ATDForm.get('task').get('taskType').value == 'client'" [formGroup]="clientGroup">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Client
            </mat-panel-title>
            <mat-panel-description>
              Coordonnées du client
            </mat-panel-description>
          </mat-expansion-panel-header>
        
          <mat-form-field class="input-margin">
            <input formControlName="clientName" matInput placeholder="Nom">
          </mat-form-field>
          <mat-form-field class="input-margin">
            <input formControlName="clientFirstName" matInput placeholder="Prénom">
          </mat-form-field>
          <mat-form-field class="input-margin">
            <input formControlName="clientNumber" matInput placeholder="Numéro Client">
          </mat-form-field>
          <mat-form-field class="input-margin">
            <input formControlName="clientMail" matInput placeholder="Mail">
          </mat-form-field>
          <mat-form-field class="input-margin">
            <input formControlName="clientPhone" matInput placeholder="Téléphone">
          </mat-form-field>
        </mat-expansion-panel>
        
        <mat-expansion-panel *ngIf = "ATDForm.get('task').get('taskType').value == 'atelier'" [formGroup]="deviceGroup">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Matériel
            </mat-panel-title>
            <mat-panel-description>
              Description du matériel
            </mat-panel-description>
          </mat-expansion-panel-header>
        
          <mat-form-field class="input-margin">
            <input formControlName="deviceType" matInput placeholder="Type">
          </mat-form-field>
          <mat-form-field class="input-margin">
            <input formControlName="deviceBrand" matInput placeholder="Marque">
          </mat-form-field>
          <section class="example-section">
            <mat-checkbox class="example-margin" formControlName="deviceStart">Le PC démarre</mat-checkbox>
            <mat-checkbox class="input-margin" formControlName="deviceDisplay">Affichage Ok</mat-checkbox>
            <mat-checkbox class="input-margin" formControlName="deviceOsStart">L'OS démarre</mat-checkbox>
            <mat-checkbox class="example-margin" formControlName="deviceReset">Formatage possible</mat-checkbox>
          </section>
          <div>
              <mat-form-field style="width:100%">
                <textarea formControlName="deviceDescription" matInput placeholder="Description"></textarea>
              </mat-form-field>
          </div>
        </mat-expansion-panel>
        
        <mat-expansion-panel  [formGroup]="panneGroup" *ngIf = "ATDForm.get('task').get('taskType').value == 'atelier'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Panne
            </mat-panel-title>
            <mat-panel-description>
              Description de la panne
            </mat-panel-description>
          </mat-expansion-panel-header>
        
          <div>
            <mat-form-field style="width:100%">
              <textarea formControlName="panneDescription" matInput placeholder="Description de la panne"></textarea>
            </mat-form-field>
        </div>
        
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf = "ATDForm.get('task').get('taskType').value == 'atelier'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Prestations
            </mat-panel-title>
            <mat-panel-description>
              Liste des prestations à effectuer
            </mat-panel-description>
          </mat-expansion-panel-header>
        
          <section class="example-section">
              <mat-form-field style="width:100%">
                  <input matInput formControlName="prestationAdd" [matAutocomplete]="auto" placeholder="ajouter une prestation">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let presta of filteredOptions | async" [value]="presta.nom+'   /   '+presta.prix_TTC+'   /   '+presta.code_CEBO">
                      ({{presta.code_CEBO}}) {{presta.nom}}
                    </mat-option>
                  </mat-autocomplete>
              </mat-form-field>
              <mat-icon (click)="addPrestation('nom','prix','code')">add_circle_outlined</mat-icon>
          </section>
          <div  formArrayName="prestations">
            <div *ngFor="let presta of ATDForm.controls.prestations.controls; let i=index">
              <div [formGroupName]="i">
                  <section class="example-section">
                      <mat-form-field style="width:100%">
                          <input matInput formControlName="nom">
                      </mat-form-field>
                      <mat-form-field style="width:100%">
                          <input matInput formControlName="prix">
                      </mat-form-field>
                      <mat-icon (click)="removePrestation(i)">delete</mat-icon>
                  </section>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf = "ATDForm.get('task').get('taskType').value == 'montage'" [formGroup]="assemblyGroup">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Montage
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <section class="montage-form">
              <mat-checkbox formControlName="checkComponent">Liste des composant vérifiée</mat-checkbox>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
              <mat-checkbox formControlName="assembly">Montage réalisé</mat-checkbox>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
              <mat-checkbox formControlName="cableConnection">Câbles vérifiés</mat-checkbox>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
                <span>Mise à jour BIOS</span>
                <mat-radio-group formControlName="BIOSUpdate">
                  <mat-radio-button class="input-margin" value="1">Réalisée</mat-radio-button>
                  <mat-radio-button class="input-margin" value="2">Pas nécéssaire</mat-radio-button>
                </mat-radio-group>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
              <mat-checkbox formControlName="BIOSSetUp">BIOS paramétré</mat-checkbox>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
                <span>Etiquette licence Windows collée</span>
                <mat-radio-group formControlName="LicenceSticker">
                  <mat-radio-button class="input-margin" value="1">Oui</mat-radio-button>
                  <mat-radio-button class="input-margin" value="2">Pas nécéssaire</mat-radio-button>
                </mat-radio-group>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
                <span>Version Windows vérifiée</span>
                <mat-radio-group formControlName="OSVersion">
                  <mat-radio-button class="input-margin" value="1">Oui</mat-radio-button>
                  <mat-radio-button class="input-margin" value="2">Pas nécéssaire</mat-radio-button>
                </mat-radio-group>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
                <span>OS installé</span>
                <mat-radio-group formControlName="OSInstallation">
                  <mat-radio-button class="input-margin" value="1">Oui</mat-radio-button>
                  <mat-radio-button class="input-margin" value="2">Pas nécéssaire</mat-radio-button>
                </mat-radio-group>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
                <span>OS mis à jour</span>
                <mat-radio-group formControlName="OSUpdate">
                  <mat-radio-button class="input-margin" value="1">Oui</mat-radio-button>
                  <mat-radio-button class="input-margin" value="2">Pas nécéssaire</mat-radio-button>
                </mat-radio-group>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
                <span>Pilotes installés</span>
                <mat-radio-group formControlName="drivers">
                  <mat-radio-button class="input-margin" value="1">Oui</mat-radio-button>
                  <mat-radio-button class="input-margin" value="2">Pas nécéssaire</mat-radio-button>
                </mat-radio-group>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
              <mat-checkbox formControlName="drives">Disque(s) dur(s) controlé(s)</mat-checkbox>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
                <span>OS activé</span>
                <mat-radio-group formControlName="OSActivation">
                  <mat-radio-button class="input-margin" value="1">Oui</mat-radio-button>
                  <mat-radio-button class="input-margin" value="2">Pas nécéssaire</mat-radio-button>
                </mat-radio-group>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
              <mat-checkbox formControlName="fan">Ventilateur(s) controllé(s)</mat-checkbox>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
              <mat-checkbox formControlName="USB">Ports USB controllés</mat-checkbox>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
              <mat-checkbox formControlName="jack">Prises Jack controllées</mat-checkbox>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
              <mat-checkbox formControlName="opticalDrive">Lecteur(s) optique(s) controllé(s)</mat-checkbox>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
              <mat-checkbox formControlName="cardReader">Lecteur(s) de cartes controllé(s)</mat-checkbox>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
              <mat-checkbox formControlName="shutDown">PC eteint</mat-checkbox>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
                <mat-checkbox formControlName="packaging">PC emballé</mat-checkbox>
            </section>
            <mat-divider></mat-divider>
            <section class="montage-form">
                <mat-checkbox formControlName="softwareValidation">Validation CEBO effectuée</mat-checkbox>
            </section>
            <mat-divider></mat-divider>
            <div>
                <mat-form-field style="width:100%">
                  <textarea formControlName="assemblyComment" matInput placeholder="Commentaires"></textarea>
                </mat-form-field>
            </div>
          </mat-expansion-panel>
        
      </mat-accordion>
      <div>
        <mat-form-field style="width:100%">
          <textarea formControlName="comment" matInput placeholder="Commentaires"></textarea>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <div><button mat-raised-button (clic)=done()>Tâche terminée</button></div>
</form>