<form (ngSubmit)="register()" [formGroup]="ATDForm">
    <div [formGroup]="taskGroup">
        <mat-divider></mat-divider>
        <span>Ajout Express</span>
        <div><input formControlName="taskName"></div>
        <div><button mat-button (click)="AddTask('montage', 7)" type="button">Montage</button></div>
        <div><button mat-button (click)="AddTask('compta', 3, 'protection marge ')">Avoir</button></div>
        <div><button mat-button (click)="AddTask('expedition', 3)">Expédition</button></div>
        <mat-divider></mat-divider>
    </div>
</form>